In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

%matplotlib inline

In [2]:
movies=pd.read_csv('dataset/movies.csv')
ratings=pd.read_csv('dataset/ratings.csv')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
genres = pd.DataFrame(movies,columns=['title','genres'])

In [5]:
genres['genres'] =[" ".join(x.split("|")) for x in genres['genres']]

In [6]:
genres.head()

,title,genres
0,Toy Story (1995),Adventure Animation Children Comedy Fantasy
1,Jumanji (1995),Adventure Children Fantasy
2,Grumpier Old Men (1995),Comedy Romance
3,Waiting to Exhale (1995),Comedy Drama Romance
4,Father of the Bride Part II (1995),Comedy

In [7]:
#using tf vectorizer
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,3),min_df=0,stop_words='english')
tfidf_matrix = tf.fit_transform(genres['genres'])

In [8]:
cosine_similarities = linear_kernel(tfidf_matrix, tfidf_matrix) 
results = {}
for idx, row in genres.iterrows():
    similar_indices = cosine_similarities[idx].argsort()[:-100:-1] 
    similar_items = [(cosine_similarities[idx][i], genres['title'][i]) for i in similar_indices] 
    results[row['title']] = similar_items[1:]

In [9]:
def get_name():
    name = input("enter movie name : ")
    list=[]
    for item in movies['title']:
        if name in item:
            list.append(item)
    if len(list)==0:
        print("NO match found")
        get_name()
    elif len(list)==1:
        return list[0]
    else:
        print("Multiple Search Result")
        [print(x) for x in list]
        actual_name = input("Enter Exact name")
        return actual_name

In [17]:
final=pd.DataFrame()
key = get_name()
for i in results[key]:
    if i[0]>0.99:
        print(genres[genres['title']==i[1]])

enter movie name :  Toy Story (1995)

                      title                                       genres
3811  Monsters, Inc. (2001)  Adventure Animation Children Comedy Fantasy
                   title                                       genres
2496  Toy Story 2 (1999)  Adventure Animation Children Comedy Fantasy
             title                                       genres
9732  Turbo (2013)  Adventure Animation Children Comedy Fantasy
                                                  title  \
9215  Asterix and the Vikings (Ast√©rix et les Viking...

                                           genres
9215  Adventure Animation Children Comedy Fantasy
                               title  \
7987  Tale of Despereaux, The (2008)

                                           genres
7987  Adventure Animation Children Comedy Fantasy
                                                  title  \
6617  DuckTales: The Movie - Treasure of the Lost La...

                                           genres
6617  Adventure Animation Children Comedy Fantasy
                                 title  \
3166  Emperor's New Groove, The (2000)

                                           genres
3166  Adventure Animation Children Comedy Fantasy
            title                                       genres
1815  Antz (1998)  Adventure Animation Children Comedy Fantasy
                 title                                       genres
6997  Wild, The (2006)  Adventure Animation Children Comedy Fantasy
                                               title  \
2967  Adventures of Rocky and Bullwinkle, The (2000)

                                           genres
2967  Adventure Animation Children Comedy Fantasy
                       title                                       genres
10052  Boxtrolls, The (2014)  Adventure Animation Children Comedy Fantasy
                       title                                       genres
7382  Shrek the Third (2007)  Adventure Animation Children Comedy Fantasy